@model Exercice2.Models.Book

<h2>Détails du livre :</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Année</th>
    </tr>

    <tr>
        <th>@Model.Id</th>
        <th>@Model.Title</th>
        <th>@Model.Author</th>
        <th>@Model.Year</th>
    </tr>
</table>
