@model List<Exercice2.Models.Book>

<h2>Ma liste de livres :</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Année</th>
    </tr>
    
    @foreach (var livre in Model)
    {
        <tr>
            <th>@livre.Id</th>
            <th>@livre.Title</th>
            <th>@livre.Author</th>
            <th>@livre.Year</th>
        </tr>
    }
    
</table>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>