Cours_ASP.NET.sln.DotSettings.user
Cours_ASP.NET.sln
Exercice1 - API/bin
Exercice1 - API/obj
DockerComposeTest/bin
WebApplication1/bin
WebApplication1/obj
WebApplication1/wwwroot/lib
Exercice2 - Books/bin
Exercice2 - Books/obj
Exercice2  - Movies/wwwroot/lib
Exercice3 - Movies/bin
Exercice3 - Movies/obj
Exercice3 - Movies/wwwroot/lib
DockerComposeTest/obj
.idea
.env