Exercice1/bin
Exercice1/obj
WebApplication1/bin
WebApplication1/obj
WebApplication1/wwwroot/lib
Exercice2/bin
Exercice2/obj
Exercice2/wwwroot/lib
Movies_Exercice3/bin
Movies_Exercice3/obj
Movies_Exercice3/wwwroot/lib
DockerComposeTest/obj
.env