Cours_ASP.NET.sln.DotSettings.user
Cours_ASP.NET.sln
Exercice1 - API/bin
Exercice1 - API/obj
DockerComposeTest/bin
WebApplication1/bin
WebApplication1/obj
WebApplication1/wwwroot/lib
Exercice2/bin
Exercice2/obj
Exercice2/wwwroot/lib
Movies_Exercice3/bin
Movies_Exercice3/obj
Movies_Exercice3/wwwroot/lib
DockerComposeTest/obj
.idea
.env